.about {
  display: flex;
  flex-direction: column; 
  height: 100vh;
  
  & .top-container {
    display: flex;
    margin: 20px;
    
    & .image {
      border-radius: 15px;
      margin: 10px;
      max-height: 432px;
      width: 300px;
    }
    & .personal {
      display: flex;
      flex-direction: column;

      & h1 {
        margin: 10px;
      }
      & .row {
        align-items: center;
        display: flex;
        margin: 10px;

        & h4 {
          align-self: flex-start;
          margin: 0;
          margin-right: 20px;
          width: 80px;
        }
        & p {
          margin: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .about {

    & .top-container {

      & .personal {
          display: flex;
        & h1 {
          text-align: center;
        }
        & .row {
          align-self: center;
          flex-direction: column;
          margin: 5px;
          text-align: center;

          & h4 {
            align-self: center;
            display: flex;
            justify-content: center;
            margin: 0;
            width:auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .about {

    & .top-container {
      align-items: center;
      flex-direction: column;
      margin: 10px;

      & .image-container {
        border-radius: 100px;
        height: 200px;
        margin: 0;
        overflow: hidden;
        width: 200px;

        & .image {
          border-radius: 15px;
          margin: 0;
          margin-left: -50px;
          margin-top: -40px;
          width: 325px;
        }
      }
    }
  }
}