.image-zoom-container {
  background: black;
  border: 1px solid black;
  box-shadow: 1px 1px 2px rgb(58, 58, 58);
  border-radius: 5px;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 5px 0px 5px 0px;
  max-height: 273.83px;
  overflow: hidden;
  width: 100%;
  
  & .image {
    height: 100%;
    margin: 0px;
    width: 100%;
    object-fit: contain;
  }
  & .zoom-in:hover {
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
  }
  & .zoom-out:hover {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
  }
}

@media only screen and (max-width: 600px) {
  .image-zoom-container {
    height: auto;
  }
}
