.skills-container {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, white, rgb(163, 163, 163), white) 1;
  display: flex;
  justify-content: left;
  overflow-x: ellipsis;
  padding: 10px 0px;
  width: 100%;

  & .skills-title {
    align-self: center;
    font-size: 15px;
  }
  & .skills-list {
    display: flex;
    flex-wrap: wrap; 

    & .skill {
      background: var(--primary-color);
      border: 1px solid black;
      border-radius: 5px;
      box-shadow: 1px 2px 3px rgb(30, 30, 30);
      color: white;
      font-size: 15px;
      margin: 2px 5px 2px 5px;
      padding: 3px 5px 3px 5px;
    }
    & .show-more-btn {
      background: rgb(255, 255, 255);
      border: 1px solid black;
      border-radius: 25px;
      box-shadow: 1px 1px 2px black;
      color: var(--primary-color);
      cursor: pointer;
      font-size: 15px;
      font-weight: 600;
      padding: 3px 5px 3px 5px;
      margin: 0px 5px 0px 5px;
    }
  }
}
