.home {
  display: flex;
  flex-direction: column; 
  height: 100vh;

  & .section {
    align-items: center;
    background-color: white;
    background-image: url("/background.webp");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    width: 100%;
    
    & .headshot {
      height: 671px;
      padding: 25px 0px 25px 0px;
    }
    & .test {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      & .title {
        font-family: animeace !important;
        font-size: 36px;
        font-weight: 600;
      }
      & .text {
        font-family: animeace !important;
        font-size: 24px;
        max-width: 675px;
      }
    }
  }
  & .latest-work {
    
    & .latest-work-title {
      align-items: center;
      display: flex;
      font-size: 20px;
      justify-content: center;
      margin-top: 10px;

      &::before, 
      &::after {
        border-bottom: 1px solid black;
        content: "";
        flex: 1;
        margin: 0px 30px 0px 30px;
      }
    }
    & .latest-work-cards {
      display: flex;
      flex-wrap: wrap; 
      justify-content: center;
      width: 100%;

      & .container {
        display: flex;
        margin: 10px;
      }
    }
  }
  & .contact-container {
    background: black;
    margin-top: 20px;
    padding: 20px;
  }
}

@media only screen and (max-width: 1250px) {
  .home {
    & .section {
      display: flex;
      flex-direction: column;

      & .headshot {
        flex-shrink: 2;
        height: 500px;
      }
      & .test {

        & .title {
          font-size: 30px;
        }
        & .text {
          font-size: 20px;
          margin: 15px 5px 15px 5px;
        }
      }
    }
    & .latest-work {

      & .latest-work-cards {
        
        & .container {
          display: flex;
          justify-content: center;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .home {

    & .latest-work {
      
      & .latest-work-title {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}
