.latest-work-container {
    align-items: center;
    background: linear-gradient( white, silver, white, white);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
    margin: 5px;
    min-height: 500px;
    padding: 5px;
    width: 500px;

    & .title {
        font-family: animeace !important;
        font-weight: 600;
    }
    & .skills {
        padding: 5px 0px 5px 0px;
        width: 100%;
    }
    & .description {
        width: 100%;
    }
    & .learn-more {
        align-content: flex-end;
        color: var(--primary-color);
        flex-grow: 1;
        font-size: 13px;
        padding: 5px 20px 5px 0px;
        text-align: right;
        width: 100%;
        
        & a {
            color: var(--primary-color);
            font-size: 14px;
            margin: 10px;
        }

        & span {
            color: var(--primary-color);
            cursor: pointer;
            font-size: 14px;
        }
    }
}