header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  
  & .logo {
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    height: 90px;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    width: 90px;
  }
  & .menu {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    
    & .header-link {
      align-items: center;
      color: white;
      display: flex;
      height: 40px;
      margin: 0px 25px 0px 25px;
      text-decoration: none;
      
      &:hover {
        color: var(--secondary-color);
        cursor: pointer;
      }
    }
  }
  & .dropdown {
    display: none;

    & .content {

      & .header-link {
        color: white;
        text-decoration: none;

        &:hover {
          color: var(--secondary-color);
          cursor: pointer;
        }
      }
    }
  }
  & .social {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    
    & a {
      margin: 5px 10px 5px 10px;

      & .linkedin {

        &:hover {
          filter: brightness(0) saturate(100%) invert(46%) sepia(86%) saturate(1207%) hue-rotate(217deg) brightness(109%) contrast(104%);
        }
      }
      & .github {

        &:hover {
          filter: brightness(0) saturate(100%) invert(46%) sepia(86%) saturate(1207%) hue-rotate(217deg) brightness(109%) contrast(104%);
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;

    & .logo {
      height: 70px;
      left: 0;
      margin: 5px;
      position: absolute;
      top: 0;
      width: 70px;
      z-index: 10;
    }
    & .menu {
      display: none;
    }
    & .dropdown {
      align-items: center;
      background: black;
      color: white;
      display: flex;
      flex-direction: column;
      width: 100%;

      & .btn:hover {
        filter: invert(51%) sepia(35%) saturate(922%) hue-rotate(202deg) brightness(94%) contrast(109%);
      }
      & .icon{
        color: white;
      }
      & .content { 
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & a {
          margin: 8px 0px 8px 0px;
        }
      }
    }
  }
}
