html,body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
}

* {
  box-sizing: border-box;
  font-family: robotoSlab, "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif !important;
}

#root {
  --primary-color: #680BF4;
  --primary-color-hover: #4b06b5;
  --secondary-color: #9a89ff;
}

.content {
  flex: 1;
}

@font-face {
  font-family: robotoSlab;
  font-weight: 400;
  src: url("/RobotoSlab.woff2") format("woff2");
}
@font-face {
  font-family: animeace;
  src: url("/animeace2_reg.woff2") format("woff2");
}
