html,body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: robotoSlab, "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif !important;
}

.content {
  flex: 1;
}

@font-face {
  font-family: robotoSlab;
  src: url("./assets/RobotoSlab.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: animeace;
  src: url("./assets/animeace2_reg.woff2") format("woff2");
}
