.project-card-container {
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 1px 1px 3px rgb(58, 58, 58);
  display: flex;
  margin: 25px 0px 25px 0px;
  padding: 5px;
  width: 100%;

  & .left {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    max-width: 500px;
    min-width: 500px;
    padding: 5px;
    
    & .title {
      font-family: animeace !important;
      font-weight: 600;
    }
    & .image {
      height: auto !important;
    }
  }
  & .right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & .skills {
      padding: 5px 0px 5px 0px;
    }
    & .description {
      flex-grow: 1;
      width: 100%;
    }
    & .learn-more {
      align-content: flex-end;
      color: blue;
      font-size: 13px;
      padding: 5px 20px 5px 0px;
      text-align: right;

      & a {
        color: rgb(121, 121, 250);
        font-size: 14px;
        margin: 10px;
      }

      & span {
        color: rgb(121, 121, 250);
        cursor: pointer;
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .project-card-container {
    align-items: center;
    background: linear-gradient( white, silver, white, white);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
    margin: 25px 5px 25px 5px;
    max-width: 500px;
    min-height: 500px;
    padding: 5px;

    & .left {
      margin-right: 0px;
      min-width: 0px;
      padding: 0px;
      width: 100%;

      & .title {
        font-family: animeace !important;
        font-weight: 600;
      }
      & .image {
        height: auto !important;
      }
    }
    & .right {
      & .skills {
        padding: 5px 0px 5px 0px;
        width: 100%;
      }
      & .description {
        width: 100%;
      }
      & .learn-more {
        align-content: flex-end;
        color: blue;
        flex-grow: 1;
        font-size: 13px;
        padding: 5px 20px 5px 0px;
        text-align: right;
        width: 100%;
  
        & span {
            cursor: pointer;
        }
      }
    }
  }
}